* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em; 
  text-decoration: none;
}
.img-logo{
  padding-right: 13px;
}

.form-group {
  display: flex;
  flex-direction: row ;
  padding-left: 37px;
  
}
.browse {
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px; 
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 15px;
}

.form-text {
  width: 277px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px; 
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}
.button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.button-site {
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;
}

.button-site:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.img-basket-menu{
  width: 32px;
  height: 29px;
  padding-right: 26px;
}

.my-acc {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner {
  height: 613px;
  background-color: #e8e8e8;
}

.banner-block {
  height: 100%;
  background: url(img/main-pfoto.jpg) -200px -51px;
}

.the-brand {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
}

.text-fashion {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.banner-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
}

.span-fashion {
  color: #f16d7f;
}

.mega-box {
  border-radius: 5px;
  background-color: #ffffff;
  display: none;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 47px;
}
.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: aqua;
  position: absolute;
  top: -7px;
  left: 34px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.menu-li {
  list-style-type: none;
}

.mega-link {
  text-decoration: none;
  color: #646464;
  line-height: 28px;
  display: block;
}
.mega-link:hover {
  color: #f16d7f;
}

.menu-list {
  position: relative;
}


.menu-list:hover .mega-box{
  display: flex;
}

.mega-hedding {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding: 8px;
  margin: 8px;
}

.mega-item {
  margin-right: 45px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.wrap-text {
  position: absolute;
  top: 26px;
  background-color: #ffffff;
}

.item-1 {
  position: relative;
  padding-bottom: 21px;
}
 .item {
  position: relative;
}

.box {
  display: flex;
  margin-top: 98px;
  justify-content: space-between;
}

.header-mini {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025 em;
  color: #222222;
}
 
.header-mini-text {
  line-height: 1.2;
  font-weight: 900;
  font-size: 30px;
 color: #f16d7f;
 letter-spacing: 0.025 em;
} 

.catalog-header {
  padding-top: 80px;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}

.catalog-header-mini {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
}

.products{
  display: flex;
}
.galery{
  padding-top:85px;

}
.galery-item{

  margin-bottom:20px;
}
.galery-item img{
  width: 261px;
  height: 280px;
  padding-right: 32px;

}

  .galery-item:hover:after{
    box-shadow: 150px -225px 0 150px rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: relative;
    content: "";
}

.galery-item-text{
font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #222222;
padding-left: 15px;
padding-top: 19px;
}

.price {
 padding-left:15px ;
 padding-top: 17px;
 padding-bottom: 21px;
 font-size: 16px;
 line-height: 1.2;
 font-weight: 700;
 text-transform: uppercase;
 color: #f16d7f;
}

.all-product {
  font-size: 16px;
 line-height: 54px;
 font-weight: 700;
 letter-spacing: 0.025em;
 color: #ffffff;
 text-decoration: none;
}
.all-product::after{
  src: url(img/arrow.png);
}

.button-product {
  background-color: #f16d7f;
  padding: 0 24px;
  border: 1px solid transparent;
  display: table;
  margin: 0 auto;
  margin-bottom: 113px;
}

.button-product:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.container-sale {
  background: url(img/sale.png);
  height: 529px;
  width: 767px;
}
.sale {
  display: flex;
  padding-bottom: 97px;
}

.container-sale:hover {
  opacity: 0.9;
}
.sale-text-1 {
 font-family: Lato;
 font-size: 53.7px;
 line-height: 1.2;
 font-weight: 700;
 letter-spacing: 0.025em;
 color: #ffffff;
 padding-top: 146px;
 padding-left: 39px;
}

.sale-text-2 {
font-size: 32.2px;
color: #ffffff;
padding-left: 39px;
}

.info {
  height: 529px;
  width: 373px;
  background-color: #222222;
}
 .flex {
  display: flex;
}
 .flex-footer {
  display: flex;
  flex-direction: column;
}
   
 .img-info {
   padding-left: 36px;
   padding-top: 60px;
   padding-right: 33px;
}

.header-info {
  font-size: 20px;
  line-height: 1.2;F
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  padding-top: 62px;
}

.text-info{
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  padding-right: 23px;
}
 
.subscribe {
  display: flex;
}

.subscribe-info {
  background-image: url(img/backgraund-footer.png);
  height: 438px;
  background-position: center;
  background-size: cover;
  display: flex;
}

.layble {
  padding-top: 111px;
  padding-right: 28px;
}

.footer-text {
  padding-top: 123px;
  width: 430px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}
.footer-text-commit {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.footer-family {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.subscribe-promotion {
  padding-top: 148px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 800px;
}
  .subscribe-promotion-text {
  text-align: center;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  text-transform: none;
}
.form {
  padding-top: 35px;
}

.text-type-footer {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  padding-left: 20px;
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  margin-right: -0.313rem;
  border: 0px;
}
.type-footer {
  font-size: 14px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: 0px;
  background-color: #f16d7f;
  width: 104px;
  border-radius: 0px 23px 23px 0px;
}

.type-footer:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
}
.middle-block-logo {
  padding-top: 129px;
  padding-bottom: 89px;
  width: 37%;
  padding-right: 64px;
}

.text-middle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.header-footer {
  padding-top: 123px;
  padding-bottom: 45px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.footer-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  line-height: 42px;
}
.copy-rights {
  width: 100%;
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
}
.copy-rights-text {
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.copy-block {
  display: flex;
  justify-content: space-between;
}
.social-ikon {
  padding-top: 24px;
}
.img-social-ikon {
  padding: 12px;
  margin-right: 8px;
  background-color: #ffffff;
}
